<section data-ng-controller="EventsCtrl" data-ng-init="one()" data-ng-show="event.id">
	<p><b>id</b>: {{event.id}}</p>
	<p><b>name</b>: {{event.name}}</p>
	<p><b>place</b>: {{event.place}}</p>
	<p><b>description</b>: {{event.description}}</p>
	<p><b>url</b>: {{event.URL}}</p>
	<p><b>logoURL</b>: {{event.logoURL}}</p>
	<p><b>beginning</b>: {{event.beginning}}</p>
	<p><b>end</b>: {{event.end}}</p>
	<p><b>registrationBeginning</b>: {{event.registrationBeginning}}</p>
	<p><b>registrationEnd</b>: {{event.registrationEnd}}</p>
	<p><b>visibility</b>: {{event.visibility}}</p>
	<p><b>status</b>: {{event.status}}</p>
	<p><b>createdAt</b>: {{event.createdAt}}</p>
	<p><b>updatedAt</b>: {{event.updatedAt}}</p>

	<a class="btn btn-primary" data-ng-click="remove();">
		<i class="glyphicon glyphicon-trash"></i>
	</a>
</section>
